<header class="site-header" role="banner">
    <div>
        <div class="myinfo">
            <div class="avatar"></div>
            <div class="links">
                <a href="https://github.com/lecardozo"><span class="fa fa-github"></span></a>
                <a href="https://twitter.com/nordicarv"><span class="fa fa-twitter"></span></a>
                <a href="mailto:lucasecardozo@gmail.com"><span class="fa fa-envelope"></span></a>
            </div>
        </div>
        <div class="header-title"> Lucas Cardozo </div>
    </div>

    <a><p class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</p></a>
    <a><p class="site-title" href="{{ "/about"}}">About me</p></a>

    
</header>
