* {
    box-sizing: border-box
}
/**
 * Site header
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$header-background-color:#3e5650 ;
$header-color:lightgrey ;

.site-header {
  background-color: $header-background-color;
  min-height: 60px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.myinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.avatar {
    background-image: url('https://avatars0.githubusercontent.com/u/8867239?v=3&s=460');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    &:hover {
        color: grey;
        cursor: pointer;
    }
}

.pagelinks {
    list-style: none;
    margin: 0px;
    > li {
        display: inline-block;
        margin: 5px;
    }
}

.header-title {
    text-transform: uppercase;
    color: $header-color;
    font-size: 1.2em;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
}

a.pages {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: $header-color;
}

a.pages:hover {
  color: #2d7f69;
  cursor: pointer;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  text-align:center;
  font-size: 9px;
  font-family: 'Roboto', sans-serif;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@media (max-width: 710px) {
  .postlist {
    justify-content: center;
  }
}

@media (max-width: 500px) {
    .post {
        min-width:100%;
        max-height: 110px;
        background-size: cover;
    }
    .site-header {
      flex-direction: column;
    }
}

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.postlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  > .post {
    position: relative;
    height: 120px;
    width: 100%;
    max-width: 300px; 
    background-color: lightgrey;
    margin: 10px;
    
    > .backpostimg {
        width: 100%;
        height: 100%;
        background-size:cover; 
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        background-position: center center;
        filter: blur(1px);
    }

    > .postinfo {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5);
        }
        > .text {
            padding: 10px;
        }
    }
  }

}

  

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
